 /* CSS files add styling rules to your content */

@font-face{
  font-family: Raleway;
  src: url('https://fonts.googleapis.com/css?family=Raleway:200');
}

body {
  font-family: "Raleway";
  font-style: regular; 
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Raleway";
  font-size: 24px; 
}

.pagelist{
  font-family: "Raleway";
  font-size: 18px;
  font-style: bold;
  width: 200px;
  height: 20px;
}
