 /* CSS files add styling rules to your content */

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.googleapis.com/css?family=Raleway:300');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Raleway', "Arial", "sans-serif" !important;
  font-style: 'light';
}

.pagelist{
  font-family: 'Raleway';
  font-size: 20px;
  height: 25px;
  width: 200px;
}

.spacer{
  height: 200px;
}

.results{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.proj-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 20% 0;
  border-radius: 5px 5px 0 0;
}


.proj-card{
  
  font-family: 'Raleway';
  border-radius: 5px;
  box-shadow: 10px 6px 8px 0 rgba(.6,0,0,0.3);
  transition: 0.1s;
  height: 100%;
  width: 300px;
}

.proj-card:hover{
  box-shadow: 10px 6px 20px 0 rgba(0,0,0,0.4);
}
