/* CSS files add styling rules to your content */

@font-face{
  font-family: "Raleway";
  src: url('https://fonts.googleapis.com/css?family=Raleway:200');
}

body {
  font-family: "Raleway";
  font-style: regular; 
}

h1 {
  font-size: 24px;
  
  
}
